<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <nav class="navbar navbar-expand bg-body-tertiary fixed-top ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'TABELA', root_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">JOGOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top:100px;">

    <% if @match_data[:status] === "finalizado" %>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-4">
          <div class="card-body">

            <div class="d-flex flex-column flex-sm-row align-items-center mb-3">
              <img src=<%= asset_path('logo_brasileirao.png') %> style="height:50px;">
              <span class="title-card-brasileirao flex-grow-1 text-center text-sm-start text-lg-start">BRASILEIRÃO BETANO</span>
              <span class="card-match-status ms-sm-auto mt-2 mt-sm-0"><%= @match_data[:status] %></span>
            </div>

            <div class="d-flex flex-md-row flex-column justify-content-center align-items-center px-4 text-wrap">
              <div class="d-flex flex-column align-items-center justify-content-center gap-2 w-100">
                <img src="<%= @match_data[:escudo_mandante] %>" style="height:60px;">
                <span class="text-center"><%= @match_data[:nome_mandante] %></span>
              </div>

              <div class="d-flex flex-column align-items-center fs-1 pb-4 mx-4 mt-2 flex-shrink-0 w-auto ">
                <span class="fs-4 fw-bold"><%= Date.strptime(@match_data[:data_jogo], "%d/%m/%Y").strftime("%d/%m") %></span>
                <span class="fs-5"><%= @match_data[:hora_jogo] %></span>
              </div>

              <div class="d-flex flex-column align-items-center justify-content-center gap-2 w-100">
                <img src="<%= @match_data[:escudo_visitante] %>" style="height:60px;">
                <span class="text-center"><%= @match_data[:nome_visitante] %></span>
              </div>

            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between text-center mt-3" style="color:rgba(3, 3, 3, 0.5);">
              <span><%= @match_data[:estadio] %></span>
              <span><%= @match_data[:rodada] %></span>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">

            <div class="d-flex flex-column flex-sm-row align-items-center mb-3">
              <img src=<%= asset_path('logo_brasileirao.png') %> style="height:50px;">
              <span class="title-card-brasileirao flex-grow-1 text-center text-sm-start text-lg-start">BRASILEIRÃO BETANO</span>
              <span class="card-match-status ms-sm-auto mt-2 mt-sm-0"><%= @match_data[:status] %></span>
            </div>

            <div class="d-flex flex-md-row flex-column justify-content-center align-items-center px-4 text-wrap">
              <div class="d-flex flex-column align-items-center justify-content-center gap-2 w-100">
                <img src="<%= @match_data[:escudo_mandante] %>" style="height:60px;">
                <span class="text-center"><%= @match_data[:nome_mandante] %></span>
              </div>

              <div class="d-flex flex-column flex-md-row gap-3 gap-md-3 fs-1 align-items-center">
                <span><%= @match_data[:placar_mandante] %></span>
                <img src="<%= asset_path('x.png') %>" style="width:15px;">
                <span><%= @match_data[:placar_visitante] %></span>
              </div>

              <div class="d-flex flex-column align-items-center justify-content-center gap-2 w-100">
                <img src="<%= @match_data[:escudo_visitante] %>" style="height:60px;">
                <span class="text-center"><%= @match_data[:nome_visitante] %></span>
              </div>

            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between text-center mt-3" style="color:rgba(3, 3, 3, 0.5);">
              <span><%= @match_data[:estadio] %></span>
              <span><%= Date.strptime(@match_data[:data_jogo], "%d/%m/%Y").strftime("%d/%m") %></span>
            </div>

          </div>
        </div>
      </div>

    </div>
    <% else %>
  </div>
  <% end %>
  </div>
</body>

</html>
