<!DOCTYPE html>
<html>
  <head>
    <title>Brasileirão Betano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/logo_brasileirao.png" type="image/png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
